body {
  background-color: #234e70;
}

.card {
  box-shadow: 0 4px 16px 0 #fbf8be;
  border: 1px solid #fffba7;
  background-color: #fbf8be;
  border-radius: 5px;
  transition: 0.3s;
  width: 20rem;
  height: 15rem;
  transition: 0.3s;
  padding: 2em 2em 2em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  position: relative;
}

.note {
  background-color: #fbf8be;
  box-shadow: 0 4px 16px 0 #fbf8be;
  border: 1px solid #fffba7;
  border-radius: 5px;
  transition: 0.3s;
  width: 20rem;
  padding: 0em 2em 4em 2em;
  margin-top: 2em;
  position: relative;
  word-wrap: break-word;
  height: 15rem;
}

.note textarea {
  background-color: #fbf8be;
  box-shadow: 0 4px 16px 0 #fbf8be;
  border: 1px solid #fffba7;
  border-radius: 5px;
  font-size: 1em;
  transition: 0.3s;
  border: none;
  resize: none;
  outline: none;
  overflow: auto;
  width: 20rem;
  position: relative;
  font-family: inherit;
  padding: 1em 0;
  height: 15rem;
}

.card-content {
  padding: 20px;
}

.centered-paragraph {
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  margin: 0 2em;
}

.card:hover {
  box-shadow: 0 8px 32px 0 #fbf8be;
}

.text-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 2px 16px;
}

.button {
  position: relative;
  background-color: #4caf50;
  border: none;
  font-size: 15px;
  color: #ffffff;
  padding: 0.7em;
  width: 8em;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:after {
  background: #f1f1f1;
  display: block;
  position: relative;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}


.tools {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

.edit,
.delete {
  border: none;
  background-color: transparent;
  padding: 5px 5px;
  margin: 5px 5px;
  cursor: pointer;
}

.edit:hover,
.delete:hover {
  background-color: #ddd;
}

.main{
  text-align: left;
}

.hidden {
  display: none;
}
